.ios, .md {

    login-page {

        .invalid {
          border-bottom: 1px solid #FF6153;
        }

        ion-header {
            background-color: map-get($colors, light);
        }

        ion-title {
            color: #fff;
        }

        ion-content {
            background-color: map-get($colors, primary);
        }

        .login-logo {
            flex: 2;
        }

        button {
            color: #fff;
            text-decoration: underline;
            background: none;
        }

        .login-button {
            border-radius: 30px;
            font-size: 0.9em;
            background-color: transparent;
            border: 1px solid #fff;
        }

    }

}
