<ion-header class="opaque">
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="grid-basic-page" fullscreen>
  <label class="item item-stacked-label">Email:<a href="cdt@cdt.europa.eu">cdt@cdt.europa.eu</a></label>
  <label class="item item-stacked-label">Tel: +352 42 17 11 1 </label>
  <label class="item item-stacked-label">Fax: +352 42 17 11 220</label>
  <label class="item item-stacked-label">Address:
  <p>Bâtiment Drosbach<br/> 12E, rue Guillaume Kroll<br/> L-1882 Luxembourg</p></label>
</ion-content>
