<ion-header class="opaque">
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>settings</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-toggle [(ngModel)]="keepAwake" (ionChange)="onKeepAwake()"></ion-toggle>
			<ion-label>
				Keep awake
			</ion-label>
			<ion-icon name='battery-charging' item-left></ion-icon>
		</ion-item>

		<ion-item>
			<button ion-button full (click)="createEvent()" color="primary" class="login-button">Create event in calendar</button>
		</ion-item>
	</ion-list>
	<button ion-button full (click)="createEvent()" color="primary" class="login-button">Create event in calendar</button>
</ion-content>