<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<chart [options]="options"></chart>-->
  <canvas baseChart width="400" height="400" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
    [colors]="chartColors" [legend]="chartLegend" [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>

  <ion-list>
    <ion-item>
      <ion-label>Chart Type</ion-label>
      <ion-select [(ngModel)]="chartType">
        <ion-option value="line">Lines</ion-option>
        <ion-option value="bar">Bars</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>