<kendo-chart>
	<kendo-chart-value-axis>
		<kendo-chart-value-axis-item [title]="{ text: model.valueAxis.name }" [min]="model.valueAxis.min" [max]="model.valueAxis.max">
		</kendo-chart-value-axis-item>
	</kendo-chart-value-axis>

	<kendo-chart-category-axis>
		<kendo-chart-category-axis-item [title]="{text: model.categoryAxis.name }" [categories]="model.categoryAxis.categories">
		</kendo-chart-category-axis-item>
	</kendo-chart-category-axis>

	<kendo-chart-series>
		<kendo-chart-series-item  [data]="model.series" [type]="chartType">
		</kendo-chart-series-item>
	</kendo-chart-series>
</kendo-chart>

<!-- ng2-charts -->
<!--<canvas baseChart width="400" height="400" [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [colors]="chartColors"
			[legend]="chartLegend" [chartType]="chartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>-->
