<ion-header>
	<ion-grid>
		<ion-row>
			<ion-col width-10><img src="assets/images/favicon-32x32.png" /></ion-col>
			<ion-col>
				<ion-title>eCdT. Mobile </ion-title>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-header>

<ion-content padding>
	<form novalidate [formGroup]="user" (ngSubmit)="register()">

		<div class="error" *ngIf="user.get('fullname').hasError('required') && user.get('fullname').touched">
			Fullname is required
		</div>
		<div class="error" *ngIf="user.get('fullname').hasError('minlength') && user.get('fullname').touched">
			Minimum of 2 characters
		</div>

		<!-- account -->
		<div class="error" *ngIf="user.get('account').get('email').hasError('required') && user.get('account').get('email').touched">
			Email is required
		</div>
    <div class="error" *ngIf="user.get('account').get('password').hasError('required') && user.get('account').get('password').touched">
			Password is required
		</div>
		<div class="error" *ngIf="user.get('account').get('confirm').hasError('required') && user.get('account').get('confirm').touched">
			Confirming password is required
		</div>

		<ion-row class="account-form">
			<ion-col>
				<ion-list inset>

					<ion-item>
						<ion-label>
							<ion-icon name="person"></ion-icon>
						</ion-label>
						<ion-input placeholder="Fullname" type="text" formControlName="fullname"></ion-input>
					</ion-item>

					<div formGroupName="account">
						<ion-item>
							<ion-label>
								<ion-icon name="mail"></ion-icon>
							</ion-label>
							<ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label>
								<ion-icon name="lock"></ion-icon>
							</ion-label>
							<ion-input placeholder="Password" type="password" formControlName="password"></ion-input>
						</ion-item>

						<ion-item>
							<ion-label>
								<ion-icon name="lock"></ion-icon>
							</ion-label>
							<ion-input placeholder="Confirm Password" type="password" formControlName="confirm"></ion-input>
						</ion-item>
					</div>

					<!--<ion-item>
						<ion-label>Role</ion-label>
						<ion-select [(ngModel)]="role">
							<ion-option value="reader">Reader</ion-option>
							<ion-option value="creator">Creator</ion-option>
							<ion-option value="editor">Editor</ion-option>
						</ion-select>
					</ion-item>-->

				</ion-list>

				<button ion-button [disabled]="user.invalid" type="submit" class="continue-button">Register</button>

			</ion-col>
		</ion-row>
	</form>
</ion-content>
