<ion-header class="opaque">
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Delivered requests</ion-title>
	</ion-navbar>
</ion-header>

<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

<ion-content padding class="grid-basic-page" *ngIf="requests" fullscreen>
	<div padding >
		<span>Show archived ?</span> 
		<ion-toggle style="float:left; margin-left: 10px" checked="false" #showArchived ></ion-toggle>
	</div>
	<ion-list>
		<ion-list-header>
			{{requests.length }} requests were delivered
		</ion-list-header>
		<ion-item-sliding #slidingItem *ngFor="let request of requests | showArchived: showArchived.checked" class="item item-icon-right" (click)="itemSelected(request)">
			<ion-item-options side="left">
				<button ion-button (click)="markAsRead(item, slidingItem)">
					<ion-icon name="archive"></ion-icon>
				</button>
			</ion-item-options>
			<ion-item>
				<ion-grid>
					<ion-row>
						<ion-col width-40>
							<ion-badge>{{request.jobs.length}} jobs</ion-badge>
						</ion-col>
						<ion-col>
							<p> delivered on {{request.deliveryDate | date:'d/M/yyyy'}} at {{request.deliveryDate | date:'shortTime'}}</p>
							<p>
								<ion-note>Source language(s): {{request.sourceLanguages}}</ion-note>
							</p>
							<p>
								<ion-note>Target language(s): {{request.targetLanguages}}</ion-note>
							</p>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ion-item-sliding>
	</ion-list>
</ion-content>