<ion-header>
	<ion-toolbar>
		<ion-title *ngIf="myRequest">
			Request {{myRequest.requestIdentifier}}
		</ion-title>
		<ion-buttons start>
			<button (click)="dismiss()">
			<span primary showWhen="ios">Back to list</span>
			<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>

	<div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

	<ion-card *ngIf="myRequest">
		<ion-grid>
			<ion-row>
				<ion-col width-20>
					<ion-badge>{{myRequest.numberOfJobs}} jobs</ion-badge>
				</ion-col>
				<ion-col>
					<p> delivered on {{myRequest.deliveryDate | date:'d/M/yyyy'}} at {{myRequest.deliveryDate | date:'shortTime'}}</p>
					<p><ion-note>Source language(s): {{myRequest.sourceLanguages}}</ion-note></p>
					<p><ion-note>Target language(s): {{myRequest.targetLanguages}}</ion-note></p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
</ion-content>